form{
    display: flex;
    flex-direction: column;
}

label {
   
    font-size: 18px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    margin-right:15px;
    float:left;
}
input {
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
}
/* The Modal (background) */
.modalajout {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
    }
    .ajoutitem{
    display: flex;
    flex-direction: row;
    margin: 3px;
    }
    /* Modal Content */
    .modal-contentajout {
    display: flex;
    position: fixed;
    flex-direction: column;
    overflow: auto;
    right: 0;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #fefefe;
    width: 90%;
    max-height: 75%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    background-image : radial-gradient(circle, #0072B5,#9BB7D4);
    margin: 10px;
    padding-left:10px ;
    border: 1px solid black;
    border-radius: 5px;
    }
    
    /* The Close Button */
    .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    }
    
    .modal-body {padding: 2px 16px;
    display: flex;
    flex-direction: column;}
    
    .modal-footer {
    padding: 2px 16px;
    margin :5px;
    background-color: tomato;
    color: white;
    position: relative;
    }
    .imgCart{
        max-height: 100px;
    }
    /* Add Animation */
    @-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
    }
    
    @keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
    @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    @media only screen and (min-width: 700px) {
    .modalajout {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    
    }
    
    /* Modal Content */
    .modal-contentajout {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    right: 50%;
    left: 50%;
    margin-right: 5px;
    margin-top: 10px;
    background-color: #fefefe;
    width: 30%;
    height: 60%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    background-image : radial-gradient(circle, #0072B5,#9BB7D4);
    margin: 10px;
    padding-left:10px;
    border: 1px solid black;
    border-radius: 5px;
    
    }
    
    /* The Close Button */
    .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    }
    
    .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    }
    
    .modal-body {padding: 2px 16px;
    background-image:  radial-gradient(circle, lightgreen,deepskyblue);}
    
    .modal-footer {
    position: relative;
    padding: 2px 16px;
    bottom: 10px;
    background-color: #5cb85c;
    color: white;
    margin: 5px;
    }
    
    /* Add Animation */
    @-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
    }
    
    @keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
    }
    
    @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
    @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
    }
    
    }
    
