#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 3s;
    animation-name: animatebottom;
    animation-duration: 3s
  }
  .animate-left{
      position: relative;
      animation-name: left;
      animation-duration : 3s;
      
  }
  .animate-right{
      position : relative;
      animation-name: right;
      animation-duration: 3s;
  }

  .animate-top{
      position : relative;
      animation-name: top;
      animation-duration: 3s;
      
  }
  @-webkit-keyframes animatebottom {
    from { bottom:-1000px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-1000px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  @keyframes left { 
    from{ left:-1000px; opacity:0 } 
    to{ left:0; opacity:1 }
  }
  @keyframes right { 
    from{ right:-1000px; opacity:0 } 
    to{ right:0; opacity:1 }
  }
  @keyframes top { 
    from{ top:-1000px; opacity:0 } 
    to{ top:0; opacity:1 }
  }
  
  
  
  #myDiv {
    display: none;
    text-align: center;
  }